<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h1 class="text-5xl font-bold my-5">About Us</h1>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore iste et unde quo dignissimos impedit debitis mollitia repellat quidem, nisi odio cum pariatur! Iure inventore accusamus totam dolores fugit eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat praesentium tenetur delectus, fugit accusantium maxime suscipit illo totam dicta quis.</p>
    
</section>